<!--
File Name: service.ejs
Author: Amandeep Kaur
Website Name: Romika bhatia Portfolio
Description: This is the about page. 
-->
<%- include partial/header.ejs %>
<div class="container-about" style="background-image: none">
    <div class="col-lg-12 text-center v-center">
        <div class="container bounceInDown animated">
            <h1 class="heading">Who I am?</h1></div>
        <p class = "info">My name is Amandeep Kaur. I am pursing computer programming in georgain college. I am programmer
            who relish coding- write, update and execute and also make websites.I spend my most of time learning code from website and then make it by my own self.<br></p>
        <p class="info">Basically I am originally from Pathankot, India. I love painting and cooking.

        </p>
        <img class="about-image" src="../images/aboutme.jpg" height="300px">

    </div>
</div>

<% include partial/footer.ejs %>