<footer class="footer-container">

    <div class="text-center center-block">
        <br />

        <a href="https://www.facebook.com/Akaur0336"><i class="fa fa-facebook-square"></i></a>

    </div>
    <div class="footer-left">

        <p class="footer-links">
            <a href="/">Home</a>
            |
            <a href="/about">About me</a>
            |
            <a href="/contact">Contact</a>

        </p>
    </div>

</footer>
<script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>
    
  </body>
</html>
