<!--
Author: Amandeep Kaur
Description: The homepage of Portfolio.
-->
<%- include partial/header.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <title>Amandeep Kaur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Amandeep Kaur</h1>
    <p>I am student of georgian college. Experienced Operations with a demonstrated history of working in the telecommunications industry.
    Skilled in Research, Microsoft Excel, Management, Customer Service, and Microsoft Word. 
    Strong operations professional pursing from Georgian College.</p>
  </body>
</html>
<% include partial/footer.ejs %>
