<!--
    File Name: project.ejs
    Author: Amandeep Kaur
    Website Name: Amandeep Kaur Portfolio
    Description: The project page of portfolio
    -->
<%- include partial/header.ejs %>
<div class="container-projects" style="background-image: url('../images/background.jpg');">
    <div class="col-lg-12 text-left v-left">
        <h1 class="heading">Projects</h1>
        <table class="project-icon">
            <center>
                <tr>

                    <td class="td-column"><img src="../images/gao.jpg" width="300px" height="300px"></td>

                    <td class="td-column"><img src="../images/wordpress.jpg" width="300px" height="300px"></td>

                </tr>

            </center>
        </table>



    </div>
</div>
<%- include partial/footer.ejs %>