<!--
    File Name: service.ejs
    Author: Amandeep Kaur
    Website Name: Amandeep Kaur Portfolio
    Description: The service page of portfolio
    -->
<% include partial/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <p>Hobbies and Interest<%= title %>
    <ul>
        <li>Web development</li>
        <li>CSS</li>
        <li>MySql</li>
        <li>Java</li>
        <li>WordPress</li>
		<li>MS-Office</li>
    </ul>
</main>

<% include partial/footer.ejs %>